@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'MedievalSharpLocal';
  src: url('/fonts/MedievalSharp-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MacondoLocal';
  src: url('/fonts/Macondo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CormorantUnicaseLocal';
  src: url('/fonts/CormorantUnicase-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.press-start {
  font-family: 'Courier New', monospace;
  color: #ffffff;
  text-shadow: 0 2px 0 #000, 0 0 10px rgba(0,0,0,0.6);
  letter-spacing: 0.11em;
  margin-top: 6px;
  font-size: 29px;
  animation: blink 1.3s steps(2, start) infinite;
  cursor: pointer;
}

@keyframes blink { 50% { opacity: 0; } }

.title-banner {
  letter-spacing: 0.08em;
  text-align: center;
  line-height: 1.02;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -15vh 0 0 0;
}

.titulo-text {
  font-family: 'CormorantUnicaseLocal', 'MacondoLocal', 'MedievalSharpLocal', 'Press Start 2P';
  text-transform: uppercase;
  font-size: clamp(100px, 9.5vw, 220px);
  letter-spacing: 4px;
  background: linear-gradient(to bottom, #FFD84A 0%, #FF6E00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-text-stroke: 1.5px #ffffff; 
  text-shadow: 0 6px 12px rgba(0,0,0,0.35);
}

@media (min-width: 768px) {
  .title-banner-text {
    font-size: 12rem; 
  }
}
