@font-face {
  font-family: 'Panda';
  src: url('/fonts/panda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.panda-title {
  font-family: 'Panda', cursive, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.05;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.panda-title-main {
  font-size: 8.2rem;
  text-shadow:
    -4px -4px 0 #f6efd7,
     4px -4px 0 #f6efd7,
    -4px  4px 0 #f6efd7,
     4px  4px 0 #f6efd7;
  color: #477f17;
  display: block;
  padding: 0.2em 0.5em;
  margin-bottom: 0.2em;
}

.panda-title-sub {
  font-size: 5.3rem;
  text-shadow:
    -4px -4px 0 #f6efd7,
     4px -4px 0 #f6efd7,
    -4px  4px 0 #f6efd7,
     4px  4px 0 #f6efd7;
  color: #477f17;
  display: block;
  padding: 0.15em 0.4em;
  margin-top: -0.8em;
}

.start-button {
  margin-top: 60px;
  border: 3px solid #f6efd7;
  box-shadow: 0 2px 8px #0002;
  border-radius: 12px;
}

/* Media query para pantallas de desktop (768px en adelante) */
@media (min-width: 768px) {
  .panda-title-main {
    font-size: 12rem; /* Aumentado de 8.2rem a 12rem */
  }

  .panda-title-sub {
    font-size: 8rem; /* Aumentado de 5.3rem a 8rem */
  }
}
